@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
	font-family: Lato, Arial, Helvetica, 'sans-serif';
	font-weight: 400;
	font-size: 16px;
}

.wrapper {
	width: 810px;
	height: 1594px;
	margin: 0 auto;
}

.title-main {
	padding-top: 38px;
	padding-bottom: 52px;
	height: 210px;
	font-weight: 900;
	font-style: normal;
	font-size: 46px;
	line-height: 60px;
	max-width: 810px;
	color: #1E212C;
}

.images {
	margin-top: 40px;
	margin-bottom: 60px;
	display: inline-block;
}

.h2-1 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 24px;
	height: 90px;
	line-height: 30px;
	color: #1E212C;
}

.paragraph-1 {
	height: 182px;
	line-height: 26px;
	color: #424551;
}

.text-1 {
	margin-bottom: 20px;
}

.text-2 {
	margin-top: 20px;
}

.text-marked {
	font-weight: 700;
	font-size: 20px;
	height: 120px;
	line-height: 30px;
	margin: 48px auto;
	padding-left: 58px;
	color: #1E212C;
}

.paragraph-2 {
	height: 52px;
	line-height: 26px;
	color: #424551;
}

.list {
	margin-top: 24px;
	height: 116px;
	line-height: 28px;
	max-width: 600px;
	padding-left: 32px;
	color: #424551;
}

.paragraph-3 {
	margin-top: 24px;
	height: 104px;
	line-height: 26px;
	margin-bottom: 60px;
	color: #424551;
}